.copy_right_footer
{
    position: fixed;
    width: 100%;
    line-height: 0.1;
    background-color: rgba(0, 255, 255, 0.333);
    color: blueviolet;

}

h1
{

    font-family: 'Times New Roman';
    font-style: oblique;
    font-weight: bold;
    color: lightgrey;

}

img
{

    width: 400px;
    border: 2px solid;
    border-color: blueviolet;
    border-radius: 30px;
    
}
